*{
    margin: 0;
    padding: 0;
}

.container{
    border: orange;
    border: 20px solid orange;
    border-style: double;    
    line-height: 30px;

}

.fs{
    font-size: 22px;
}

.color{
    color: #6c5878;
}

.plate{
    display: flex;
    justify-content: space-evenly;
}

.form{
    margin: 0 120px;
}